<section class="container container-img">
  <strong><h2 class="info-text">About Clothing Market</h2></strong>
</section>
<section class="container container4">
  <div class="ul-about1">
    <div class="flex-about1">
      <h2 class="bold">Together we are strong</h2>
    </div>
    <div class="flex-about1">
      <p class="bold">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor
        sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,
        consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
        et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur
        adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
        magna aliqua.
      </p>
    </div>
  </div>
  <section class="ul-about2">
    <figure class="flex-about2">
      <img src="../images/cloth-factory.jpeg" />
    </figure>
    <figure class="flex-about2">
      <img src="../images/cloth-factory2.jpeg" />
    </figure>
    <figure class="flex-about2">
      <img src="../images/fabric.jpeg" />
    </figure>
  </section>
</section>
