<section class="container container-img">
  <h2 class="info-text bold">MEN</h2>
</section>
<section class="container container4">
  <div class="flex-men">
    <a href="">
      <figure class="flex-men1 men-hover">
        <img class="flex-men-img1" src="../images/fullbody.png" />
        <figcaption>Ready to wear</figcaption>
        <a href=""> SHOP ALL <i class="fa-solid fa-angles-right"></i> </a>
      </figure>
    </a>
    <figure class="flex-men1">
      <section class="flex-inside-men">
        <a href="">
          <figure class="men-hover">
            <img class="flex-men-img2" src="../images/ransel.png" />
            <figcaption>Bags</figcaption>
            <a href="">SHOP ALL <i class="fa-solid fa-angles-right"></i> </a>
          </figure>
        </a>
        <a href="">
          <figure class="men-hover">
            <img class="flex-men-img2" src="../images/sneaker.png" />
            <figcaption>Shoes</figcaption>
            <a href="">SHOP ALL <i class="fa-solid fa-angles-right"></i> </a>
          </figure>
        </a>
      </section>
    </figure>
    <a href="">
      <figure class="flex-men1 men-hover">
        <img class="flex-men-img3" src="../images/wallets.png" />
        <figcaption>Wallets</figcaption>
        <a href="">SHOP ALL <i class="fa-solid fa-angles-right"></i> </a>
      </figure>
    </a>
    <a href="">
      <figure class="flex-men1 men-hover">
        <img class="flex-men-img3" src="../images/belts.png" />
        <figcaption>Belts</figcaption>
        <a href="">SHOP ALL <i class="fa-solid fa-angles-right"></i> </a>
      </figure>
    </a>
    <a href="">
      <figure class="flex-men2 men-hover">
        <img class="flex-men-img4" src="../images/watches.png" />
        <figcaption>Watches</figcaption>
        <a href="">SHOP ALL <i class="fa-solid fa-angles-right"></i> </a>
      </figure>
    </a>
    <a href="">
      <figure class="flex-men2 men-hover">
        <img class="flex-men-img4" src="../images/jewel.png" />
        <figcaption>Jewellery</figcaption>
        <a href="">SHOP ALL <i class="fa-solid fa-angles-right"></i> </a>
      </figure>
    </a>
    <a href="">
      <figure class="flex-men2 men-hover">
        <img class="flex-men-img4" src="../images/eyeglasses.png" />
        <figcaption>Eyewear</figcaption>
        <a href="">SHOP ALL <i class="fa-solid fa-angles-right"></i> </a>
      </figure>
    </a>
  </div>
</section>
